#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

/* Linguistic classes */


span {
    border-radius: 4px;
    margin: 0.05em 0.05em;
    font-weight: bold;
}

span.ADJ {
    background-color: #90be6d;

}

span.ADP {
    background-color: #cc3399;
}

span.ADV {
    background-color: #006699;
}

span.AUX {
    background-color: #ff7b00;
}

span.CCONJ {
    background-color: #875702;
}

span.DET {
    background-color: #9b2226;
}

span.INTJ {
    border: 1px solid #646cff;
    background-color: #646cff;
}

span.NOUN {
    background-color: #f94144;
}

span.NUM {
    background-color: #f3722c;
}

span.PART {
    background-color: #f8961e;
}

span.PRON {
    background-color: #f9844a;
}

span.PROPN {
    background-color: #f9c74f;
}

span.PUNCT {
}

span.SCONJ {
    background-color: #43aa8b;
}

span.SYM {
    background-color: #43aa8b;
}

span.VERB {
    background-color: #4d908e;
}

span.X {
    background-color: #577590;
}

#output-container {
    gap: 0.5em;
}

#input-container {
    gap: 0.5em;
}
